<a href="https://colab.research.google.com/github/IdrisOyelajaOlayinka/multiclass_Classification/blob/main/Assignment_02_Iris_Data_Science_2022_Ver_02(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 02

Dear Team Members,

I hope you are doing GREAT!

The following assignment is a step-by-step process to implement a multiclass classification using Iris classical dataset.
The idea of the current assignment is to intensify what we have learned in deep learning.

There are some new concepts and challenges that we will face in the current assignment, and we need to resolve each issue and move to the next step.

After the midterm, we will discuss part of the potential challenges. The assignment is easy to follow yet needs the patience to solve each question at a time.

**Note:**

Please note that every question has 0.5 and it provides five out of total ten marks for the assignment.

The video presentation, as you have done for Assignment 01, provides the rest of the mark, which is 5.

In short, 5 for coding + 5 for the video presentation = 10, but without YouTube presentation you receive no mark for the submission. In short, only submissions with YouTube link will be marked.

In [ ]:
#00 The iris.csv file (Iris dataset) is located in the Assignment folder below the current ipynb file.

 **Important Note:** We are NOT allowed to import the dataset from Keras. We need to upload the provided iris.csv file to colab from our Google Drive.

In [ ]:
#00 1st, upload the iris.csv into your Google Drive (your Colab folder).

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#01-a Find the path of iris.csv file, and save it in a variable called fileName.

In [ ]:
fileName = '/content/drive/MyDrive/iris.csv'

In [ ]:
#01-b Read the content of the iris.csv file and save it in a variable, named iris.

In [ ]:
import pandas as pd

In [ ]:
fileName

'/content/drive/MyDrive/iris.csv'

In [ ]:
iris = pd.read_csv(fileName)

In [ ]:
#01-c Show the first 5 rows of the dataframe.

In [ ]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

As you see, the last column contains strings. We want to convert these strings to integers,  and we can work with them easily in our Neural Network model.

setosa -> 0

versicolor -> 1

virginica -> 2

In [ ]:
#2-a Please convert the last column strings to integers, as 
# setosa -> 0
# versicolor -> 1
# virginica -> 2

In [ ]:
species_map={'setosa': 0, 'versicolor': 1, 'virginica': 2}

In [ ]:
iris['species'] = iris['species'].map(species_map)

In [ ]:
#2-b Now, check the first 5 elements of the iris dataset once again:

In [ ]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [ ]:
#03-a Select the first four columns of the dataframe as the Data and call the data x.

In [ ]:
x = iris.iloc[:, :4]
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
#03-b Select the last column as the label and call it y.

In [ ]:
y= iris.iloc[:, -1:]
y.head()

   species
0        0
1        0
2        0
3        0
4        0

In [ ]:
#04 Now, it is the time to split the data (x) and the label (y) into training and testin segments, 
#   and call them parts x_train,x_test,y_train,y_test.

In [ ]:
#04-a Please split the data, and label ito training and testing segments, while the size of test data is 20%,
#     and use randome_state = 123 to make all the answers similar in the whole class.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=123)

In [ ]:
#04-b Please, check the first five rows of  x_train,x_test,y_train,y_test.

In [ ]:
x_train.head()

     sepal_length  sepal_width  petal_length  petal_width
130           7.4          2.8           6.1          1.9
119           6.0          2.2           5.0          1.5
29            4.7          3.2           1.6          0.2
0             5.1          3.5           1.4          0.2
62            6.0          2.2           4.0          1.0

In [ ]:
x_test.head()

     sepal_length  sepal_width  petal_length  petal_width
72            6.3          2.5           4.9          1.5
112           6.8          3.0           5.5          2.1
132           6.4          2.8           5.6          2.2
88            5.6          3.0           4.1          1.3
37            4.9          3.1           1.5          0.1

In [ ]:
y_train.head()

     species
130        2
119        2
29         0
0          0
62         1

In [ ]:
y_test.head()

     species
72         1
112        2
132        2
88         1
37         0

In [ ]:
#04-c Check the length of the x_train and x_test. If the numbers are 120 & 30, AWESOME! 
#     You are good to continue!

In [ ]:
len(x_train)

120

In [ ]:
len(x_test)

30

In [ ]:
#05-a Please, convert y_train and y_test into categorical, and call them
#     one_hot_train_labels, and one_hot_test_labels, respectively.

In [ ]:
from keras.utils.np_utils import to_categorical

In [ ]:
one_hot_train_labels = to_categorical(y_train)
one_hot_test_labels = to_categorical(y_test)

In [ ]:
#06-a Please define a sequential model that contains 3 dense layers.
#     In the first and second layers, use 100 hidden units (neurons) and a 'relu' activation function.
#     For the last layer, we need to use 3 as the number of output, 
#     and the reason is we have three classes (setosa -> 0, versicolor -> 1, virginica -> 2)
#     Also, please pick an appropriate activation function for the last layer. 
#     (You already have guessed what could be the best when we have converted the labels to categorical.)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(100, activation='relu')) # input layer and first hidden layer
model.add(Dense(100, activation='relu')) # second hidden layer
model.add(Dense(3, activation='softmax')) # output layer

In [ ]:
#06-b Now, please compile your model using 'rmsprop', an appropriate loss function, and 'accuracy' for your metrics.

In [ ]:
model.compile(optimizer='rmsprop',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [ ]:
#07-a Pleease fit your model using epoch=20, batch = 10.

In [ ]:
model.fit(x_train, one_hot_train_labels, epochs=20, batch_size=10, validation_data=(x_test, one_hot_test_labels))

Epoch 1/20
12/12 [==============================] - 1s 21ms/step - loss: 0.8305 - accuracy: 0.6917 - val_loss: 0.6551 - val_accuracy: 0.6333
Epoch 2/20
12/12 [==============================] - 0s 5ms/step - loss: 0.5834 - accuracy: 0.7917 - val_loss: 0.4450 - val_accuracy: 0.8333
Epoch 3/20
12/12 [==============================] - 0s 5ms/step - loss: 0.4928 - accuracy: 0.7917 - val_loss: 0.4067 - val_accuracy: 0.8667
Epoch 4/20
12/12 [==============================] - 0s 6ms/step - loss: 0.4322 - accuracy: 0.8417 - val_loss: 0.3644 - val_accuracy: 0.8667
Epoch 5/20
12/12 [==============================] - 0s 5ms/step - loss: 0.3863 - accuracy: 0.8917 - val_loss: 0.3025 - val_accuracy: 0.8333
Epoch 6/20
12/12 [==============================] - 0s 7ms/step - loss: 0.3467 - accuracy: 0.8917 - val_loss: 0.2885 - val_accuracy: 0.9667
Epoch 7/20
12/12 [==============================] - 0s 6ms/step - loss: 0.3242 - accuracy: 0.8917 - val_loss: 0.2628 - val_accuracy: 0.8667
Epoch 8/20
12/12 [==============================] - 0s 6ms/step - loss: 0.2891 - accuracy: 0.9250 - val_loss: 0.2564 - val_accuracy: 0.8333
Epoch 9/20
12/12 [==============================] - 0s 5ms/step - loss: 0.2560 - accuracy: 0.9583 - val_loss: 0.2309 - val_accuracy: 0.8667
Epoch 10/20
12/12 [==============================] - 0s 7ms/step - loss: 0.2345 - accuracy: 0.9667 - val_loss: 0.2663 - val_accuracy: 0.8333
Epoch 11/20
12/12 [==============================] - 0s 5ms/step - loss: 0.2189 - accuracy: 0.9667 - val_loss: 0.2052 - val_accuracy: 0.9667
Epoch 12/20
12/12 [==============================] - 0s 7ms/step - loss: 0.1905 - accuracy: 0.9583 - val_loss: 0.2447 - val_accuracy: 0.8667
Epoch 13/20
12/12 [==============================] - 0s 5ms/step - loss: 0.1604 - accuracy: 0.9667 - val_loss: 0.1835 - val_accuracy: 0.9667
Epoch 14/20
12/12 [==============================] - 0s 5ms/step - loss: 0.1921 - accuracy: 0.9250 - val_loss: 0.1927 - val_accuracy: 0.9000
Epoch 15/20
12/12 [==============================] - 0s 6ms/step - loss: 0.1367 - accuracy: 0.9750 - val_loss: 0.1672 - val_accuracy: 0.9667
Epoch 16/20
12/12 [==============================] - 0s 5ms/step - loss: 0.1515 - accuracy: 0.9583 - val_loss: 0.1799 - val_accuracy: 0.9333
Epoch 17/20
12/12 [==============================] - 0s 6ms/step - loss: 0.1340 - accuracy: 0.9667 - val_loss: 0.1792 - val_accuracy: 0.9333
Epoch 18/20
12/12 [==============================] - 0s 5ms/step - loss: 0.1175 - accuracy: 0.9833 - val_loss: 0.1486 - val_accuracy: 0.9667
Epoch 19/20
12/12 [==============================] - 0s 5ms/step - loss: 0.1222 - accuracy: 0.9667 - val_loss: 0.1373 - val_accuracy: 0.9667
Epoch 20/20
12/12 [==============================] - 0s 5ms/step - loss: 0.1165 - accuracy: 0.9583 - val_loss: 0.1332 - val_accuracy: 0.9667

In [ ]:
#08-a Please calculate the result, evaluating your x_test, one_hot_test_label, and see how accurate your model works.

In [ ]:
test_loss, test_acc = model.evaluate(x_test,one_hot_test_labels)

1/1 [==============================] - 0s 187ms/step - loss: 0.1332 - accuracy: 0.9667

In [ ]:
#09-a Now, we repeate all we have done in #06-a with the following parameters:
#     In the first and second layers, use 10 hidden units (neurons) and a 'relu' activation function.
#     For the last layer, we need to use 3.

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(100, activation='relu')) # input layer and first hidden layer
model.add(Dense(100, activation='relu')) # second hidden layer
model.add(Dense(3, activation='softmax')) # output layer

In [ ]:
#09-b Use the same setting as you have done for #06-b (compile phase using 'rmsprom' and et cetera)

In [ ]:
model.compile(optimizer='rmsprop',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [ ]:
#09-c Please fit your model using epoch=4, batch = 10.

In [ ]:
model.fit(x_train, one_hot_train_labels, epochs=4, batch_size=10)

Epoch 1/4
12/12 [==============================] - 1s 3ms/step - loss: 0.9672 - accuracy: 0.4833
Epoch 2/4
12/12 [==============================] - 0s 4ms/step - loss: 0.6585 - accuracy: 0.7083
Epoch 3/4
12/12 [==============================] - 0s 5ms/step - loss: 0.5346 - accuracy: 0.7667
Epoch 4/4
12/12 [==============================] - 0s 4ms/step - loss: 0.4858 - accuracy: 0.8167

In [ ]:
#09-d Please calculate the result, evaluating your x_test, one_hot_test_label, and see how accurate your model works.

In [ ]:
test_loss, test_acc = model.evaluate(x_test,one_hot_test_labels)

1/1 [==============================] - 0s 489ms/step - loss: 0.4301 - accuracy: 0.8000

In [ ]:
#10-a Please explain all you have learned from this assignment. 
# Theese are some quiestions that you could answer:
# How the number of layers or hidden units could impact the accuracy of our model.
# Do we always suffer from overfitting?
# How can we find and manage overfitting?

Double-click here to start typing your answer:

In [ ]:
#10-b
# Please try different sessing as we did in #09
# You can change the number of layers, hidden units, compile parameters, number of epochs, batch_size... everything!
# Please change one parameter at a time.
# And share your experience.

---
# Deliverables:
1. Please, submit the current ipynb file with your responses.
2. Please record and upload to YouTube a 5 to 10 minutes video recorded clip, describing all you have done. If you go beyond 10 minutes, it is fine. The mentioned time range is to show how the scale of the assignment could be.

Notes: 
- In your submission, YOU MUST SUBMIT A LINK TO YOUR YOUTUBE VIDEO as a TEXT SUBMISSION SECTION on your BLACKBOARD SUBMISSION. Omitting this BB comment will result in a 0% for your total mark.

- To get the 5% of the (coding) mark, you need to submit a YouTube video that scrolls through your code, explaining every single line of your code.

Then submit the link to the uploaded YouTube video in the **Text Submision section** (see image below).  

![image.png](https://i.ibb.co/gjW5wYC/bb-submission-instructions.png)

**Summary:**

In short, what we need to submit are:

a)	The current **ipynb file** that contains all the code (5 marks).

b)	The **YouTube link** of your recorded video in the 
**Text Submission section** (5 marks).

Zero for submissions, without YouTube video explanation.

Wish you only the best, Dear Team Members!

Reza